/* ---- Global ---- */
* {
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}

html, body{
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 5em;
    font-weight: 400;
    color:  rgb(31, 181, 207);
    margin-bottom: 1rem;
}

h2 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5em;
    color: rgb(31, 181, 207);
    cursor: pointer;
}

a:hover {
    color: rgba(243, 119, 103, .6)
}

p {
    font-size: 1.5em;
    font-weight: 100;
    margin: 0;
}

i {
    font-size: 5em;
    color: rgb(31, 181, 207);
    margin: 1rem;
}

/* ---- Main Elements ---- */

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
}

.profile-photo {
    width: 18em;
    border-width: 0.4rem;
    border-color: rgb(31, 181, 207);
    border-radius: 100%;
    box-shadow: 7rem -8rem rgba(243, 119, 103, .2);
    /* box-shadow: 7rem -8rem rgba(243, 119, 103, .2); */
}

.about-bio {
    text-align: left;
    padding: 1.5rem;
    margin-top: 2rem;
    max-width: 650px;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
}

.contact-link {
    margin: 1rem;
}

.projects-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2rem 0;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 3rem 0 2rem;
    max-width: 650px;
}

.project-image {
    width: 100%;
}

.details-container {
    background-color: rgba(243, 119, 103, .2);
    width: 100%;
    padding-bottom: 1rem;
}

.details-title {
    font-size: 2rem;
    margin: 1.5rem 2rem 1rem;
    color: black;
    text-align: left;
}

.details-body {
    margin: 0 2rem 1rem;
}

.project-links {
    display: flex;
    justify-content: center;
}

.skills-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 2rem;
}

.skills-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3rem 0 2rem;
    max-width: 650px;
}